{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block body %}
    <h1>Signup</h1>
    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}
    <form action="/signup" method="post">
        <label for=""> Username:</label>
        <input type="text" name="username">
        <br><br>
        <label for="">Password</label>
        <input type="password" name="password">
        <br><br>
        <label for="">Email</label>
        <input type="text" name="email">
        <br><br>
        <label for="">Phone</label>
        <input type="text" name="phone">
        <br><br>
        <button type="submit">Signup</button>
    </form>
{% endblock %}